* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

.first {
    height: 60vh;
    width: 100%;
    /* background-image: url("assets/trees.jpeg");
    background-size: cover;
    background-position: center; */
}

.hero-image{
    height: 100%;
    width: 100%;
    background-image: url("assets/trees.jpeg");
    background-size: cover;
    background-position: center;
    opacity: .5;
}
.cf {
    /* position:relative; */
    margin:0 auto;
  }
  
  .cf img {
    position:absolute;
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    background-size: cover;
    background-position: center;
    height: 70%;
    width: 100%;
    opacity: .5;
  }
  
  .cf img.top:hover {
    opacity: 0;
  }
  /* @keyframes cf3FadeInOut {
    0% {
    opacity:1;
  }
  45% {
  opacity:1;
  }
  55% {
  opacity:0;
  }
  100% {
  opacity:0;
  }
  }
  
  #cf3 img.top {
  animation-name: cf3FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-direction: alternate;
  } */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 8%;
    padding-right: 8%;
    background-color: black;

}

/* .logo{
    color: white;
    font-size: 35px;
    letter-spacing: 10px;
    cursor: pointer;
} */

/* span{
    color: #f9004d;
} */

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;

}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: larger;
    text-transform: capitalize;
}

nav ul li a:hover{
    color: #105d63;
    transition: .4s;

}

.btn{
    background-color: #105d63;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.btn:hover{
    transform: scale(1.2);
}

/* .logo img{
    height: 10%;
    width: 10%;
    border-radius: 50%;

} */

.me{
    position: absolute;
    top: 35%;
    left: 8%;
    /* transform: translate(-50%); */

}

h1.name{
    color: black;
    font-size: 70px;
    margin-left: 445px;

    
}

h3.tag{
    color: rgb(16, 63, 71);
    font-size: 30px;
    margin-left: 450px;
    font-weight: 400;
    
}

h4{
    color: black;
    letter-spacing: 2px;
    font-size: 30px;
    margin-left: 450px;
    font-weight: 500;
}


.about{
    width: 100%;
    padding: 100px 0px;
    background-color: white;

}

.about img{
    height: auto;
    width: 430px;
}

.about-text{
    width: 550px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 70px;
}

.main h1{
    font-size: 35px;
}
.about-text h2{
    color: black;
    font-size: 65px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5{
    color: black;
    letter-spacing: 2px;
    font-size: 26px;
    margin-bottom: 25px;
    text-transform: capitalize;
    font-weight: 100;
}

.about-text p{
    color: black;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 19px;
    margin-bottom: 45px;
    font-weight: 100;
}

.container {
    width: 500px;
    margin: 50px auto 0;
    /* margin-left: 10%; */
    margin-top: 0%;
}

li.content-bar {
    position: relative;
    list-style: none;
    margin: 50px 0;
    font-weight: 500;
    text-transform: uppercase;

}


li.content-bar:before {
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    height: 15px;
    background-color: rgba(13, 68, 71, 0.5);
    border-radius: 1000px;
}

li.content-bar:after {
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 0;
    height: 15px;
    background-color: #105d63;
    border-radius: 1000px;
    animation-duration: .7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

li.html:after {
    animation-name: html;
}
@keyframes html {
    to {
        width: 80%;
    }
}

li.css:after {
    animation-name: css;
}

@keyframes css {
    to {
        width: 80%;
    }
}
li.javascript:after {
    animation-name: javascript;
}

@keyframes javascript {
    to {
        width: 60%;
    }
}
li.react:after {
    animation-name: react;
}

@keyframes react {
    to {
        width: 40%;
    }
}
li.python:after {
    animation-name: python;
}

@keyframes python {
    to {
        width: 60%;
    }
}

.more{
    background: grey;
    width: 100%;
    padding: 100px 0px;
}

.title h2{
    color: white;
    font-size: 65px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: rgb(105, 149, 207);
}

h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;

}

.info p{
    color: white;
    font-size: 17px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card .button{
    background-color: rgb(105, 149, 207);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
    display: inline-block;
}

.about-text .button{
    background-color: rgb(105, 149, 207);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    margin-left: 390px;
    transition: transform .4s;
}
.about-text button:hover{
transform: scale(1.2);
}

.logo img{
    height: 52px;
    width: 52px;
    border-radius: 50%;
    position: relative;
    top: 61px;
    left: 40px;

}

span{
    color: rgb(36, 142, 204);
    font-weight: 350;
}
.linkedin{
    display: flex;
    margin-left: 455px;
    margin-top: 10px;
    transition: transform .4s;
}

.linkedin a:hover{
    transform: scale(1.2);
    color: #153b80;
}
.facebook{
    display: flex;
    margin-left: 30px;
    margin-top: 10px;
    transition: transform .4s;
}

.facebook a:hover{
    transform: scale(1.2);
    color: #1c59a8;
}
.instagram{
    display: flex;
    margin-left: 30px;
    margin-top: 10px;
    transition: transform .4s;
}

.instagram a:hover{
    transform: scale(1.2);
    color: #a73097;
}

.social{
    display: flex;
}

.social a{
  
    text-decoration: none; 
    font-size: 35px;
    color: rgb(65, 63, 63);
}

footer{
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 8%;
    padding-right: 8%;
    color: white;
    font-weight: 500;
    font-size: larger;
    text-transform: capitalize;
    text-align: center;
}

 .anusha{
    border-radius: 50%;
}